@import '../../../../styles/mixins/response-mixin.scss';

.group {
  &_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    @include phones {
      flex-direction: column;
    }
  }
  &_item {
    padding: 10px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    @include phones {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  &_name {
    font-weight: 700;
  }
}