.projects {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    border-radius: 5px;
    border: 1px solid #EEEEEE;
  }
  &__name {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }
}