.button {
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease 0s;
  border: 0;
  &:hover {
    cursor: pointer;
  }
	&::before {
		content: "";
		position: absolute;
		width: 20px;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.5);
		transform: translate(-60px) skew(-30deg);
	}
	img {
		width: 30px;
		height: 30px;
		margin: -5px -10px;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #3a37fedc;
			transition: all 0.3s ease 0s;
			&::before {
				animation: highlight 0.6s;
			}
		}
	}
}

@keyframes highlight {
	0% {
		transform: translate(-60px) skew(-30deg);
	}
	100% {
		transform: translate(130px) skew(-30deg);
	}
}